#!/bin/bash
###########################
# Author : DJERBI Florian
# Object : Variable Template
# Creation Date : 01/05/2024
# Modification Date : 01/05/2024
###########################

#
# VARIABLES
#

incremantal_day=7
folder_backup=""
backup_full_name="backup_full"
backup_inc_name="backup_inc"

# Db information for backup
db_host="localhost" 
db_port=3306  
db_user=""  
db_password=""  

